{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
   Home
{% endblock title %}

{% block scripts %}
    <script src="{% static 'sale/home.js' %}" defer></script>
{% endblock scripts %}


{% block content %}
    <h1>Search for reports</h1>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>

    <br>
    {% if sales_df %}
        <h3>List of sales</h3>
        {{sales_df|safe}}
        <br>
        {% if pos_df %}
            <h4>Procurements</h4>
            {{pos_df|safe}}
        {% else %}
            <h4>No Procurements</h4>
        {% endif %}
        <br>
        {% if pos_df %}
            <h4>Merged Data</h4>
            {{merge_df|safe}}
        {% endif %}
        <br>
        {% if chart %}
            <h4>Chart</h4>
            <img src="data:image/png;base64, {{chart|safe}}" id="img">
            <br>
            <button class="btn btn-primary not-visible" 
                    id="report-btn" 
                    data-bs-toggle="modal" 
                    data-bs-target="#reportModal"
            > Add Report </button>

            <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reportModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
        {% endif %}
    {% else %}
        <h3>No data available</h3>
    {% endif %}
{% endblock content %}