{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
   Home
{% endblock title %}

{% block scripts %}
    <script src="{% static 'sale/home.js' %}" defer></script>
{% endblock scripts %}


{% block content %}
    <h1>Search for reports</h1>
    <hr>

    {% if no_data %}
        <div class="alert alert-warning" role="alert">
            No data found during this time frame
        </div>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{search_form|crispy}}
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>

    <br>
    {% if sales_df %}
        <h3>List of sales</h3>
        {{sales_df|safe}}
        <br>
        {% if pos_df %}
            <h4>Procurements</h4>
            {{pos_df|safe}}
        {% else %}
            <h4>No Procurements</h4>
        {% endif %}
        <br>
        {% if pos_df %}
            <h4>Merged Data</h4>
            {{merge_df|safe}}
        {% endif %}
        <br>
        {% if chart %}
            <h4>Chart</h4>
            <img src="data:image/png;base64, {{chart|safe}}" id="img">
            <br>
            <button class="btn btn-primary not-visible" 
                    id="report-btn" 
                    data-bs-toggle="modal" 
                    data-bs-target="#reportModal"
            > Add Report </button>

            <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reportModalLabel">Add Report</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div id="alert-box"></div>
                        <form id="report-form">
                            {% csrf_token %}
                            {{report_form|crispy}}
                            <button type="submit" class="btn btn-primary mt-3">Save Report</button>
                      </form>
                    </div>
                    {% comment %} <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
        {% endif %}
    {% endif %}
{% endblock content %}